<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Register page">
    <title>Profil</title>
    <link rel="stylesheet" href="/public/profil.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="/public/img/logo-removebg-preview.png" alt="Logo" class="logo-img">
            <span class="site-name">Singify</span>
        </div>
        <nav class="dropdown">
            <button class="dropdown-btn">Menu</button>
            <div class="dropdown-content">
                <a href="main.html">Strona główna</a>
                <a href="songs.html">Utwory</a>
                <a href="playlisty.html">Playlisty</a>
                <a href="ranging.html">Ranking</a>
                <a href="profil.html">Konto</a>
            </div>
        </nav>
        <div class="search-container">
            <input type="text" placeholder="Szukaj..." class="search-bar">
        </div>
        <div class="profile">
            <img src="profile.jpg" alt="Profil" class="profile-img">
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <div class="block">
                    <p>Moje piosenki<i class="#"></i></p>
                </div>
                <div class="block">
                    <p>Opinie <i class="bi bi-bookmark-star"></i></p>
                </div>
                <div class="block">
                    <p>Moje playlisty <i class="#"></i></p>
                </div>
                <div class="block">
                    <p>Wyloguj <i class="bi bi-box-arrow-in-right"></i></p>
                </div>
            </div>
            <div class="personal_info">
                <button class="edit_profile">Edytuj profil <i class="bi bi-pen"></i></button>
                <table>
                    <tr>
                        <td>Nazwa użytkownika:</td>
                        <td>Szymon</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>szymon@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Hasło:</td>
                        <td>*************</td>
                    </tr>
                    <tr>
                        <td>Github:</td>
                        <td>szymcio321</td>
                    </tr>
                    <tr>
                        <td>Zdjęcie profilowe</td>
                        <td>alibaba.png</td>
                    </tr>
                </table>
            </div>
        </section>
        <aside>
            <img src="" alt="pfp">
            <h4>Szymcio</h4>
            
            <div class="info_container">
                <p><i class="bi bi-envelope"></i> Email:<br> szymcio@gmail.com</p>
                <p><i class="bi bi-github"></i> Github:<br> szymcio321</p>
            </div>
        </aside>
    </main>
    <footer>
        
    </footer>
</body>
</html>
